<table id="not-approved-events-table" class="table table-bordered table-striped table-hover">
    <thead>
        <th>{_admin.notApprovedEventsTable.eventSeries}</th>
        <th>{_admin.notApprovedEventsTable.name}</th>
        <th>{_admin.notApprovedEventsTable.date}</th>
        <th>{_admin.notApprovedEventsTable.created}</th>
        <th></th>
    </thead>
    <tbody></tbody>
</table>