<table id="not-approved-events-table" class="table table-bordered table-striped table-hover">
    <thead>
        <th>{="admin.notApprovedEventsTable.eventSeries"|translate}</th>
        <th>{="admin.notApprovedEventsTable.name"|translate}</th>
        <th>{="admin.notApprovedEventsTable.date"|translate}</th>
        <th>{="admin.notApprovedEventsTable.created"|translate}</th>
        <th></th>
    </thead>
    <tbody></tbody>
</table>