extensions:
    console: Contributte\Console\DI\ConsoleExtension

console:
    url: https://eventigo.cz

services:
	- App\Modules\Newsletter\Console\CreateNewsletterCommand
	- App\Modules\Newsletter\Console\RenderNewslettersCommand
	- App\Modules\Newsletter\Console\SendNewslettersCommand
	- App\Modules\Admin\Console\GeneratePasswordCommand
	- App\Modules\Admin\Console\CrawlSourcesCommand
