extensions:
    console: Kdyby\Console\DI\ConsoleExtension

console:
	url: http://eventigo.cz
	commands:
		- App\Modules\Newsletter\Console\CreateNewslettersCommand
		- App\Modules\Newsletter\Console\SendNewslettersCommand
		- App\Modules\Admin\Console\GeneratePasswordCommand
		- App\Modules\Admin\Console\CrawlSourcesCommand

services:
	createNewsletterCommand:
		class: App\Modules\Newsletter\Console\CreateNewslettersCommand
		tags: [kdyby.console.command]
	sendNewsletterCommand:
		class: App\Modules\Newsletter\Console\SendNewslettersCommand
		tags: [kdyby.console.commandexit]
	generatePasswordCommand:
		class: App\Modules\Admin\Console\GeneratePasswordCommand
		tags: [kdyby.console.command]
	CrawlSourcesCommand:
			class: App\Modules\Admin\Console\CrawlSourcesCommand
			tags: [kdyby.console.command]