extensions:
    - Contributte\Console\DI\ConsoleExtension

services:
	- App\Modules\Newsletter\Console\CreateNewsletterCommand
	- App\Modules\Newsletter\Console\RenderNewslettersCommand
	- App\Modules\Newsletter\Console\SendNewslettersCommand
	- App\Modules\Admin\Console\GeneratePasswordCommand
	- App\Modules\Admin\Console\CrawlSourcesCommand
