{layout '../@layout.latte'}

{block header}
    {if $presenter->getAction() === 'create'}
        {_admin.events.create.header}
    {else}
        {_admin.events.update.header}
    {/if}
{/block}

{block content}
    <div class="box">
        <div class="box-body">
            {control eventForm}
        </div>
    </div>
{/block}
