{layout '../@layout.latte'}

{block header}

{/block}

{block content}
    <div class="pure-box">
        <a n:href="Events:create" class="btn btn-primary">{_admin.events.create.header}</a>
        <a n:href="crawlSources!" class="btn btn-info">
            <i class="fa fa-download"></i>
            {_admin.events.crawlSources.link}
        </a>
    </div>
{/block}
