{layout '../@layout.latte'}

{block header}

{/block}

{block content}
    <div class="pure-box">
        <a n:href="Events:create" class="btn btn-primary">{_admin.events.create.header}</a>
    </div>
{/block}
