{form form, class => ajax}
    <div id="subscription">
        {input email}
        {input subscribe}
    </div>
    <ul id="tags">
        <li n:foreach="$form[tags]->items as $key => $label">
            <label n:name="tags:$key" class="tag" data-tag="{$key}">
                <input n:name="tags:$key"> {$label} ({$tags[$key]->eventsCount})
            </label>
        </li>
    </ul>
{/form}