{layout '../@layout.latte'}

{**
 * @param array $events
 * @param EventModel $eventModel
 * @param int $eventsMaxCount
 *}

{block content}

<h1>{_front.homepage.header.title}</h1>

{control subscriptionTags}

{control eventsList}

{/block}


{block scripts}
    <script type="text/javascript">
        var allTags = {$allTags};
    </script>
{/block}