parameters:

	baseUrl: 'https://eventigo.cz'

	lastAccess:
		syncToDb: 5 minutes

	newsletter:
		sendNewsletterWithNoEvents: true
		defaultSubject: Akce na příští týden
		defaultAuthor:
			name: Filip
			email: filip@eventigo.cz

#	googleAnalyticsKey: UA-XXXX

	SendGrid:
		ApiKey: ''

	meetup:
		apiKey: ''

database:
	dsn: 'mysql:host=127.0.0.1:8889;dbname=events'
	user:
	password:
	options:
		lazy: yes

slackLogger:
	enabled: false
	timeout: 60
	slackUrl: https://hooks.slack.com/services/XXXX
	logUrl: '%baseUrl%/admin/exception/?filename=__FILE__'
	defaults:
		name: EventigoApp
