parameters:
	security:
		key: "***REMOVED***"

	googleAnalyticsKey: ***REMOVED***

	baseUrl: 'https://eventigo.cz'

	lastAccess:
		syncToDb: 5 minutes


database:
	dsn: 'mysql:host=127.0.0.1:8889;dbname=events'
	user:
	password:
	options:
		lazy: yes

slackLogger:
	enabled: false
	timeout: 60
	slackUrl: ***REMOVED***
	logUrl: '' #http://path/to/your/logs/directory/__FILE__
	defaults:
		name: EventigoApp
