includes:
    - vendor/symplify/easy-coding-standard/config/symfony-checkers.neon
    - vendor/symplify/easy-coding-standard/config/symfony-risky-checkers.neon
    - vendor/symplify/easy-coding-standard/config/php54-checkers.neon
    - vendor/symplify/easy-coding-standard/config/php70-checkers.neon
    - vendor/symplify/easy-coding-standard/config/php71-checkers.neon
    - vendor/symplify/easy-coding-standard/config/symplify-checkers.neon
    - vendor/symplify/easy-coding-standard/config/common.neon
    - vendor/symplify/easy-coding-standard/config/spaces.neon

checkers:
    # Metrics
    PHP_CodeSniffer\Standards\Generic\Sniffs\Files\LineLengthSniff:
        absoluteLineLimit: 120
    PHP_CodeSniffer\Standards\Generic\Sniffs\Metrics\CyclomaticComplexitySniff:
        absoluteComplexity: 7
    PHP_CodeSniffer\Standards\Generic\Sniffs\Metrics\NestingLevelSniff:
        absoluteNestingLevel: 4

    # Type Hints
    SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff:
        enableEachParameterAndReturnInspection: true

    # Namespaces
    SlevomatCodingStandard\Sniffs\Namespaces\ReferenceUsedNamesOnlySniff:
        allowPartialUses: false

parameters:
    exclude_checkers:
        - PHP_CodeSniffer\Standards\PSR2\Sniffs\Methods\FunctionCallSignatureSniff
        - PhpCsFixer\Fixer\Operator\UnaryOperatorSpacesFixer
        - PhpCsFixer\Fixer\Phpdoc\PhpdocAlignFixer
        - PhpCsFixer\Fixer\PhpTag\BlankLineAfterOpeningTagFixer
        - PhpCsFixer\Fixer\Operator\NewWithBracesFixer
        # strict rule on this code
        - Symplify\CodingStandard\Fixer\Naming\PropertyNameMatchingTypeFixer

    skip:
        PHP_CodeSniffer\Standards\Generic\Sniffs\CodeAnalysis\EmptyStatementSniff:
            # "todo" notes
            - app/Modules/Front/Components/Tags/Tags.php
            - app/Modules/Email/Model/EmailService.php
            - app/Modules/Newsletter/Model/NewsletterService.php
        SlevomatCodingStandard\Sniffs\Namespaces\ReferenceUsedNamesOnlySniff:
            - app/bootstrap.php
        # bug: https://github.com/Symplify/Symplify/issues/395
        Symplify\CodingStandard\Fixer\Naming\PropertyNameMatchingTypeFixer:
            - app/Modules/Admin/Components/EventsTable/NotApprovedEventsTableFactoryInterface.php
            - app/Modules/Admin/Components/SourcesTable/SourcesTableFactoryInterface.php
