includes:
    - vendor/symplify/easy-coding-standard/config/symfony-checkers.neon
    - vendor/symplify/easy-coding-standard/config/symfony-risky-checkers.neon
    - vendor/symplify/easy-coding-standard/config/php54-checkers.neon
    - vendor/symplify/easy-coding-standard/config/php70-checkers.neon
    - vendor/symplify/easy-coding-standard/config/php71-checkers.neon
    - vendor/symplify/easy-coding-standard/config/symplify-checkers.neon
    - vendor/symplify/easy-coding-standard/config/common.neon
    - vendor/symplify/easy-coding-standard/config/spaces.neon

checkers:
    # Classes
    - PHP_CodeSniffer\Standards\Generic\Sniffs\Classes\DuplicateClassNameSniff
    - PHP_CodeSniffer\Standards\Squiz\Sniffs\Classes\LowercaseClassKeywordsSniff

    # Code Analysis
    - PHP_CodeSniffer\Standards\Generic\Sniffs\CodeAnalysis\JumbledIncrementerSniff
    - PHP_CodeSniffer\Standards\Generic\Sniffs\CodeAnalysis\UnconditionalIfStatementSniff
    - PHP_CodeSniffer\Standards\Generic\Sniffs\CodeAnalysis\UselessOverridingMethodSniff

    # Metrics
    PHP_CodeSniffer\Standards\Generic\Sniffs\Files\LineLengthSniff:
        absoluteLineLimit: 120
    PHP_CodeSniffer\Standards\Generic\Sniffs\Metrics\CyclomaticComplexitySniff:
        absoluteComplexity: 7
    PHP_CodeSniffer\Standards\Generic\Sniffs\Metrics\NestingLevelSniff:
        absoluteNestingLevel: 4
#
    # Slevomat
    SlevomatCodingStandard\Sniffs\Commenting\ForbiddenAnnotationsSniff:
        forbiddenAnnotations:
            - @author
            - @created
            - @copyright
            - @license
            - @package
            - @version

    # Type Hints
    - SlevomatCodingStandard\Sniffs\TypeHints\LongTypeHintsSniff
    SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff:
        usefulAnnotations:
            - @todo
            - @dataProvider
            - @expectedException
            - @throws
        enableEachParameterAndReturnInspection: true
    - SlevomatCodingStandard\Sniffs\Namespaces\AlphabeticallySortedUsesSniff
    - SlevomatCodingStandard\Sniffs\Namespaces\DisallowGroupUseSniff
    - SlevomatCodingStandard\Sniffs\Namespaces\MultipleUsesPerLineSniff
    - SlevomatCodingStandard\Sniffs\Namespaces\ReferenceUsedNamesOnlySniff
    - SlevomatCodingStandard\Sniffs\Namespaces\UseDoesNotStartWithBackslashSniff
    - SlevomatCodingStandard\Sniffs\Namespaces\UseFromSameNamespaceSniff

    # spaces
    PhpCsFixer\Fixer\Operator\ConcatSpaceFixer:
        spacing: one
    - PhpCsFixer\Fixer\ReturnNotation\SimplifiedNullReturnFixer

parameters:
    exclude_checkers:
        - PhpCsFixer\Fixer\Operator\UnaryOperatorSpacesFixer
        - PhpCsFixer\Fixer\Phpdoc\PhpdocAlignFixer
        - PhpCsFixer\Fixer\PhpTag\BlankLineAfterOpeningTagFixer
        - PhpCsFixer\Fixer\Operator\NewWithBracesFixer
    skip:
        PHP_CodeSniffer\Standards\PEAR\Sniffs\Functions\FunctionCallSignatureSniff:
            - *
        PHP_CodeSniffer\Standards\Generic\Sniffs\CodeAnalysis\EmptyStatementSniff:
            # "todo" notes
            - app/Modules/Front/Components/Tags/Tags.php
            - app/Modules/Email/Model/EmailService.php
            - app/Modules/Newsletter/Model/NewsletterService.php
        Symplify\CodingStandard\Fixer\Php\ClassStringToClassConstantFixer:
            # datetime string false positives
            - app/Modules/Admin/Components/EventForm/EventForm.php
            - app/Modules/Core/Components/AbstractBaseControl.php
            - app/Modules/Core/Presenters/ErrorPresenter.php
            - app/Modules/Newsletter/Model/NewsletterService.php