parameters:
    ignoreErrors:
        - "#Access to an undefined property#"
        - "#does not call parent constructor from Nette#"
        - "#Call to an undefined method SendGrid#"
        - "#AbstractEventSource::URL#"
        - "#IResource[)] does not accept#"
        - "#count of method Kdyby#"
        - "#\\DateTime|null givens#"

includes:
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
