{snippet events-list}
    <div id="events-list" n:class="$events->count() === 0 ? no-events">
        <div class="row">
            {foreach $events as $event}
                {* Titles *}
                <div n:if="$events->drawThisWeekTitle()" class="events-list-title col-sm-12">
                    {="front.events.thisWeek.title"|translate}
                </div>
                <div n:if="$events->drawThisMonthTitle()" class="events-list-title col-sm-12">
                    {="front.events.thisMonth.title"|translate}
                </div>
                <div n:if="$events->drawNextMonthTitle()" class="events-list-title col-sm-12">
                    {="front.events.nextMonth.title"|translate}
                </div>
                <div n:if="$events->drawUpcomingTitle()" class="events-list-title col-sm-12">
                    {="front.events.upcoming.title"|translate}
                </div>

                {* Events *}
                <div class="col-sm-4">
                    <a target="_blank" href="{plink ":Front:Redirect:", $event->origin_url}">
                        <div n:class="event-box,
                                $event->newEvent || $event->todayEvent || $event->recentlyAddedEvent ? label-event,
                                $event->todayEvent ? 'label-today',
                                $event->newEvent && !$event->todayEvent ? 'label-new',
                                $event->recentlyAddedEvent && !$event->newEvent && !$event->todayEvent ? 'label-recently-added'">
                            <div class="label" n:if="$event->todayEvent">{="front.eventList.label.today"|translate}</div>
                            <div class="label" n:if="$event->newEvent && !$event->todayEvent">
                                {="front.eventList.label.new"|translate}
                            </div>
                            <div class="label" n:if="$event->recentlyAddedEvent && !$event->newEvent && !$event->todayEvent">
                                {="front.eventList.label.recentlyAdded"|translate}
                            </div>
                            <div class="event-image">
                                <img src="{$event->image}">
                            </div>

                            <div class="event-text">
                                <div class="event-text-date">{$event->start, $event->end |datetime|noescape}</div>
                                <div class="event-text-name">
                                    {$event->name}
                                </div>
                                <div class="event-text-desc">
                                    {foreach $event->related('events_tags')->order('rate DESC') as $tag}
                                        <span>#{$tag->tag->code}</span>
                                    {/foreach}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {/foreach}

            {* No events info *}
            {if $events->count() === 0}
                <div id="no-events-info">
                    <div class="header">
                        <i class="fa fa-calendar-times-o"></i>
                        <h3>{="front.eventList.noEvents.title"|translate}</h3>
                    </div>
                    <div class="fluid-row">
                        <div class="col-sm-5 col-sm-offset-1">
                            <a href="{plink Homepage:discover}">
                                <i class="fa fa-calendar"></i>
                            </a>
                            <div class="content">
                                <p>{="front.eventList.noEvents.discoverInfo"|translate}</p>
                                <a href="{plink Homepage:discover}" class="btn btn-info">
                                    {="front.eventList.noEvents.linkToDiscover"|translate}
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <a href="{plink Profile:settings}">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <div class="content">
                                <p>{="front.eventList.noEvents.settingsInfo"|translate}</p>
                                <a href="{plink Profile:settings}" class="btn btn-info">
                                    {="front.eventList.noEvents.linkToSettings"|translate}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            {/if}
        </div>

    </div>
{/snippet}
