{snippet events-list}
    <div id="events-list" n:class="$events->count() === 0 ? no-events">
        <div class="row">
            {foreach $events as $event}
                {* Titles *}
                <div n:if="$events->drawThisWeekTitle()" class="events-list-title col-sm-12">
                    {_front.events.thisWeek.title}
                </div>
                <div n:if="$events->drawThisMonthTitle()" class="events-list-title col-sm-12">
                    {_front.events.thisMonth.title}
                </div>
                <div n:if="$events->drawNextMonthTitle()" class="events-list-title col-sm-12">
                    {_front.events.nextMonth.title}
                </div>
                <div n:if="$events->drawUpcomingTitle()" class="events-list-title col-sm-12">
                    {_front.events.upcoming.title}
                </div>

                {* Events *}
                <div class="col-sm-4">
                    <div n:class="event-box, $event->newEvent || $event->todayEvent ? label-event,
                            $event->newEvent ? 'label-new', $event->todayEvent ? 'label-today'">
                        <div class="label" n:if="$event->newEvent">{_front.eventList.label.new}</div>
                        <div class="label" n:if="$event->todayEvent">{_front.eventList.label.today}</div>
                        <div class="event-image">
                            <a n:tag-if="$event->origin_url" target="_blank" href="{plink ":Front:Redirect:", $event->origin_url}">
                                <img src="{$event->image}">
                            </a>
                        </div>

                        <div class="event-text">
                            <div class="event-text-date">{$event->start, $event->end |datetime|noescape}</div>
                            <div class="event-text-name">
                                <a n:tag-if="$event->origin_url" target="_blank" href="{plink ":Front:Redirect:", $event->origin_url}">
                                    {$event->name}
                                </a>
                            </div>
                            <div class="event-text-desc">
                                {foreach $event->related('events_tags')->order('rate DESC') as $tag}
                                    <span>#{$tag->tag->code}</span>
                                {/foreach}
                            </div>
                        </div>
                    </div>
                </div>
            {/foreach}

            {* No events info *}
            {if $events->count() === 0}
                <div id="no-events-info">
                    <div class="header">
                        <i class="fa fa-calendar-times-o"></i>
                        <h3>{_front.eventList.noEvents.title}</h3>
                    </div>
                    <div class="fluid-row">
                        <div class="col-sm-5 col-sm-offset-1">
                            <a href="{plink Homepage:discover}">
                                <i class="fa fa-calendar"></i>
                            </a>
                            <div class="content">
                                <p>{_front.eventList.noEvents.discoverInfo}</p>
                                <a href="{plink Homepage:discover}" class="btn btn-info">
                                    {_front.eventList.noEvents.linkToDiscover}
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <a href="{plink Profile:settings}">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <div class="content">
                                <p>{_front.eventList.noEvents.settingsInfo}</p>
                                <a href="{plink Profile:settings}" class="btn btn-info">
                                    {_front.eventList.noEvents.linkToSettings}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            {/if}
        </div>

    </div>
{/snippet}
