includes:
	- services.neon
	- factories.neon
	- parameters.neon
	- extensions/translation.neon
	- extensions/console.neon
	- extensions/facebook.neon

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\Modules\*\Presenters\*Presenter


session:
	expiration: 365 days
	savePath: "%tempDir%/sessions"

