services:
	- App\Modules\Front\Components\Subscription\ISubscriptionFactory
	- App\Modules\Front\Components\SubscriptionTags\ISubscriptionTagsFactory
	- App\Modules\Front\Components\EventsList\EventsListFactory
	- App\Modules\Newsletter\Components\Newsletter\NewsletterFactory
	- App\Modules\Admin\Components\EventForm\EventFormFactory
	- App\Modules\Admin\Components\SignInFormFactory
	- App\Modules\Front\Components\Tags\ITagsFactory