services:
	- App\Modules\Front\Components\Subscription\ISubscriptionFactory
	- App\Modules\Front\Components\SubscriptionTags\ISubscriptionTagsFactory
	- App\Modules\Front\Components\EventsList\EventsListFactory
	- App\Modules\Admin\Components\EventForm\EventFormFactory
	- App\Modules\Admin\Components\SignInFormFactory
	- App\Modules\Front\Components\Tags\ITagsFactory
	- App\Modules\Front\Components\Settings\SettingsFactory
	- App\Modules\Admin\Components\SourceForm\SourceFormFactory
	- App\Modules\Admin\Components\SourcesTable\SourcesTableFactory