services:
	- App\Components\Subscription\ISubscriptionFactory
	- App\Components\SubscriptionTags\ISubscriptionTagsFactory
	- App\Components\EventsList\EventsListFactory
	- App\Components\Newsletter\NewsletterFactory