parameters:
	baseUrl: 'https://eventigo.cz'

	SendGrid:
		ApiKey: XXXX

	meetup:
		apiKey: XXXX

	newsletter:
		sendNewsletterWithNoEvents: true
		defaultSubject: Akce na příští týden
		defaultAuthor:
			name: Filip
			email: filip@eventigo.cz

