parameters:
	baseUrl: 'https://eventigo.cz'

	newsletter:
		sendNewsletterWithNoEvents: true
		defaultSubject: Akce na příští týden
		defaultAuthor:
			name: Filip
			email: filip@eventigo.cz

	database:
		host: 127.0.0.1:8889
		name: events
		username:
		password:
