services:
	router: App\RouterFactory::createRouter
	- App\Modules\Core\Model\EventModel
	- App\Modules\Core\Model\TagModel
	- App\Modules\Core\Model\UserModel
	- App\Modules\Core\Model\UserTagModel
	-
		class: App\Modules\Newsletter\Model\NewsletterService
		setup:
			- setApiKey(%SendGrid.ApiKey%)
		inject: yes
	- App\Modules\Newsletter\Model\UserNewsletterModel
	- App\Modules\Newsletter\Model\NewsletterModel
	- App\Modules\Core\Model\EventTagModel
	- App\Modules\Admin\Model\EventService
	- App\Modules\Admin\Model\Authenticator
	- App\Modules\Core\Model\EventRedirectModel
	- App\Modules\Core\Model\TagGroupModel
	- App\Modules\Core\Model\EventSources\Facebook\FacebookEventSource
