services:
	router: App\RouterFactory::createRouter
	- App\Modules\Core\Model\EventModel
	- App\Modules\Core\Model\TagModel
	- App\Modules\Core\Model\UserModel
	- App\Modules\Core\Model\UserTagModel
	- App\Modules\Core\Model\UserNewsletterModel