dashboard.events.upcoming: Nadcházející akce|Nadcházející akce|Nadcházejících akcí
dashboard.events.thisMonth: Tento měsíc
dashboard.events.nextMonth: Příští měsíc
eventForm.event: Akce
eventForm.name: Název
eventForm.name.required: Zadej název akce
eventForm.description: Popis
eventForm.description.required: Zadej popis akce
eventForm.originUrl: Odkaz
eventForm.start: Od
eventForm.start.required: Zadej začátek akce
eventForm.end: Do
eventForm.image: Obrázek
eventForm.rate: Velikost akce
eventForm.rate.prompt: Vyber velikost akce
eventForm.rate.required: Vyber velikost akce
eventForm.tags: Tagy
eventForm.tag: Tag
eventForm.tag.prompt: Vyber tag
eventForm.tag.rate: Hodnocení
eventForm.tag.rate.prompt: Vyber velikost tagu
eventForm.tag.rate.required: Vyber velikost tagu
eventForm.save: Uložit
eventForm.success: Akce byla uložena
events.create.header: Přidat akci
events.update.header: Upravit akci
footer.text: "&copy; 2016 eventigo | Made with <span class='heart'>&hearts;</span> in Prague"
menu.events: Eventy
signInForm.email: Email
signInForm.email.placeholder: Email
signInForm.email.required: Zadej email
signInForm.incorrectLogIn: Uživatel s tímto emailem a heslem nebyl nalezen
signInForm.password: Heslo
signInForm.password.placeholder: Heslo
signInForm.password.required: Zadej heslo
signInForm.signIn: Přihlásit
signOut: Odhlásit