dashboard.events.upcoming: Nadcházející akce|Nadcházející akce|Nadcházejících akcí
dashboard.events.thisMonth: Tento měsíc
dashboard.events.nextMonth: Příští měsíc
eventForm.event: Akce
eventForm.name: Název
eventForm.name.required: Zadej název akce
eventForm.description: Popis
eventForm.description.required: Zadej popis akce
eventForm.originUrl: Odkaz
eventForm.originUrl.wrong: Zadej platný odkaz
eventForm.loadFromFb: Načíst z Facebooku
eventForm.start: Od
eventForm.start.required: Zadej začátek akce
eventForm.end: Do
eventForm.image: Obrázek
eventForm.image.wrong: Zadej platný odkaz obrázku
eventForm.image.notSecure: Obrázek není na HTTPS
eventForm.rate: Velikost akce
eventForm.rate.meetup: "Sraz (< 50)"
eventForm.rate.bigMeetup: "Větší sraz (< 200)"
eventForm.rate.conference: "Konference (< 500)"
eventForm.rate.bigConference: "Velká konference (< 1000)"
eventForm.rate.extraConference: "Extra konference (> 1000)"
eventForm.rate.prompt: Vyber velikost akce
eventForm.rate.required: Vyber velikost akce
eventForm.eventSeries: Série organizátora
eventForm.eventSeries.prompt: Vyber sérii organizátora
eventForm.tags: Tagy
eventForm.tag: Tag
eventForm.tag.prompt: Vyber tag
eventForm.tag.rate: Hodnocení
eventForm.tag.rate.little: Trochu
eventForm.tag.rate.more: Víc
eventForm.tag.rate.good: Dobré
eventForm.tag.rate.reallyGood: Dost dobré
eventForm.tag.rate.total: Nabyté
eventForm.tag.rate.prompt: Vyber velikost tagu
eventForm.tag.rate.required: Vyber velikost tagu
eventForm.save: Uložit
eventForm.success: Akce byla uložena
eventForm.error.alreadyExists: Event s tímto jméném a datem již existuje
events.create.header: Přidat akci
events.update.header: Upravit akci
footer.text: "&copy; 2016 eventigo | Made with <span class='heart'>&hearts;</span> in Prague"
menu.events: Eventy
signInForm.email: Email
signInForm.email.placeholder: Email
signInForm.email.required: Zadej email
signInForm.incorrectLogIn: Uživatel s tímto emailem a heslem nebyl nalezen
signInForm.password: Heslo
signInForm.password.placeholder: Heslo
signInForm.password.required: Zadej heslo
signInForm.signIn: Přihlásit
signOut: Odhlásit
