login.loginButton: "Přihlásit se"
login.text: "Pro přihlášení klikni na tlačítko níže. Nevedeme uživatelská hesla, protože si je stejně nikdo napamatuje."
login.footerText: "Tento e-mail jsi dostal na základě pokusu o přihlášení na eventigo.cz."
