homepage.header.logo: eventigo
homepage.header.title: Každý týden výběr akcí přesně pro tebe
homepage.header.mainTitle: "Eventy, které tě zajímají"
homepage.header.howItWorks: "Řekni nám, co tě zajímá, a my za tebe budeme kontrolovat všechny zdroje eventů."
homepage.header.subTitle: "Email každý týden s výběrem akcí přesně pro tebe"
homepage.header.button: To chci vyzkoušet
homepage.tags.header: "<span class='accent-color bold'>1.</span> Zaškrtni, co tě zajímá"
homepage.events.header: Nalezené akce
subscription.form.email.placeholder: @
subscription.form.email.validation: Email je špatně. Zadej správně svou emailovou adresu
subscription.form.email.required: Zadej svou emailovou adresu
subscription.form.subscribe.label: Chci dostávat týdenní výběr akcí
subscription.form.email.label: "<span class='accent-color bold'>2.</span> Vyplň svou adresu"
subscription.message.emailExists: "Email %email% je již zaregistrován. Neboj, nezapomněli jsme na tebe. :)"
subscription.message.success: "Vítej mezi námi! Na adresu %email% bude pravidelně chodit přehled akcí. Hlavně o eventigu nikomu neříkej, ať všechny ty maily stíháme. :)"
events.thisWeek.title: Tento týden
events.thisMonth.title: Tento měsíc
events.nextMonth.title: Příští měsíc
events.upcoming.title: Další akce
newsletter.header.title: Výběr nadcházejících akcí
datetime.monday: Pondělí
datetime.tuesday: Úterý
datetime.wednesday: Středa
datetime.thursday: Čtvrtek
datetime.friday: Pátek
datetime.saturday: Sobota
datetime.sunday: Neděle
footer.text: "&copy; 2016 eventigo<br/> Made with <span class='heart'>&hearts;</span> in Prague"
meta.description: "Každý týden výběr akcí přesně pro tebe. Konference, meetupy, přednášky, workshopy a další."
meta.title: "Eventy na tento týden"
