homepage.header.logo: eventigo
homepage.header.title: Každý týden výběr akcí přesně pro tebe
homepage.header.mainTitle: "Eventy, které tě zajímají"
homepage.header.subTitle: "Email každý týden s výběrem akcí přesně pro tebe"
homepage.header.button: To chci vyzkoušet
homepage.tags.header: Co tě zajímá?
subscription.form.email.placeholder: zadej.emailovou@adresu.cz
subscription.form.email.validation: Email je špatně. Zadej správně svou emailovou adresu
subscription.form.email.required: Zadej svou emailovou adresu
subscription.form.subscribe.label: Chci dostávat výběr akcí
subscription.message.emailExists: "Nesmírně náš těsí tvůj zájem o naše služby. Email %email% byl již dříve přidán, ale zřejmě se nemůžeš dočkat pravidelného přehledu akcí, tak jsme ti rovnou poslali jeden čerstvý"
subscription.message.success: Děkujeme za zájem. Na email %email% ti budou od teď bude pravidelně chodit přehled akcí
events.thisWeek.title: Tento týden
events.thisMonth.title: Tento měsíc
events.nextMonth.title: Příští měsíc
events.upcoming.title: Další akce
newsletter.header.title: Výběr nadcházejících akcí
datetime.monday: Pondělí
datetime.tuesday: Úterý
datetime.wednesday: Středa
datetime.thursday: Čtvrtek
datetime.friday: Pátek
datetime.saturday: Sobota
datetime.sunday: Neděle
footer.text: "&copy; 2016 eventigo<br/> Made with <span class='heart'>&hearts;</span> in Prague"
