{snippet form}
<h4>
    <i class="fa fa-envelope-o"></i>
    {_front.signIn.form.title}
</h4>
{form form, class => ajax}
    {input email}
    {input submit, class => 'btn btn-success'}
{/form}
{/snippet}