#main {
  display: block;
}
#main form th.th-label {
  padding: 0.6rem 1rem 1rem 0rem;
  text-align: right;
}
#main form td.td-control input,
#main form td.td-control textarea {
  width: 100%;
}
#main form td.td-control textarea {
  border: 1px solid #ccc;
}
#main form td.td-control .select2-container--default .select2-selection--single {
  border: 1px solid #ccc;
}
#main form fieldset {
  border: none;
  display: inline-block;
  vertical-align: top;
}
#frm-signInForm-form table {
  margin: auto;
}
.info-box-content .info-box-text.inline,
.info-box-content .info-box-number.inline {
  text-transform: inherit;
  display: inline;
}
.logo-lg {
  font-weight: 400;
  font-size: 2rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
