@inputBorder: #ccc;

#main {
	display: block;

	form {
		th.th-label {
			padding: 0.6rem 1rem 1rem 0rem;
			text-align: right;
		}
		td.td-control {
			input, textarea {
				width: 100%;
			}
			textarea {
				border: 1px solid @inputBorder;
			}
			.select2-container--default .select2-selection--single {
				border: 1px solid @inputBorder;
			}
		}

		fieldset {
			border: none;
			display: inline-block;
			vertical-align: top;
		}
	}
}

#frm-signInForm-form table {
	margin: auto;
}

.info-box-content {
	.info-box-text.inline,
	.info-box-number.inline {
		text-transform: inherit;
		display: inline;
	}
}

.logo-lg {
	font-weight: 400;
	font-size: 2rem;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}