@import "palette";

@bodyBackground: #F9F9F9;
@headerBackground: @primaryColor;
@baseFont: "Open Sans", Helvetica, Arial, sans-serif;
@headingFont: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@headerButtonColor: @accentColor;
@headerButtonColorHover: darken(@headerButtonColor, 4%);

@logoFontColor: rgba(255, 255, 255, 0.7);
@footerHeight: 83px;

html {
  font-size: 15px;
}

html, body {
  height:100%;
}

body {
  font-family: @baseFont;
  background-color: @bodyBackground;
  color: @primaryTextColor;
}

h1,h2,h3,h4{
  font-family: @headingFont;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

header {
  background: linear-gradient(
          rgba(33, 150, 243, 0.9),
          rgba(33, 150, 243, 0.9)
  ), url('/img/header-background.jpg');
  background-size: cover;
  color: @textPrimaryColor;
  padding-bottom: 4.6rem;
  min-height: 100vh;

  h1.logo {
    font-weight: 400;
    font-size: 2rem;
    color: @logoFontColor;
    margin-bottom: 0;
  }

  h2 {
    padding-top: 3.3rem;
    font-size: 3rem;
    margin: 0 0 1.2rem;
  }
  h3 {
    font-size: 2rem;
  }

  p {
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    font-size: 1.6rem;
  }

  .btn, .btn:active, .btn:focus {
    background-color: @headerButtonColor;
    margin-top: 2rem;
    border-width: 0;
    font-size: 1rem;
  }
  .btn:hover {
    background-color: @headerButtonColorHover;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .header-box {
    min-height: 85vh;
    display: flex;
    align-items: center;
  }
}

.flash-messages .flash {
  margin-bottom: 2rem;
  padding: 1rem;
  color: @textPrimaryColor;
  background-color: @accentColor;

  .glyphicon {
    margin-right: 0.5rem;
  }
}

.tags-box {
  margin-bottom: 70px;
  .tags-header {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1.8rem;
  }
}

div#tags {
  margin-bottom: 4rem;
  h3 {
    font-size: 1.5rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0;
    li {
      margin-right: 1.5em;
      margin-bottom: 0.3em;
      font-size: 1.1rem;
      input {
        margin-right: .3em;
      }
      label {
        font-size: 1rem;
        font-weight: normal;
        margin: 0;
        transition: all 0.4s ease;
      }
      input:hover,
      label:hover {
        cursor: pointer;
        color: @darkPrimaryColor;
      }
    }
  }
  ul#top-tags-group {
    label {
      font-size: 1.5rem;
      font-weight: 300;
      -webkit-font-smoothing: antialiased;
    }
  }
}

div#wrapper {
  position: relative;
  min-height: 100%;
  #homepage {
    padding-top: 3.3rem;
    padding-bottom: 4rem;
  }
  .content {
    padding-bottom: @footerHeight;
  }
  &.logged {
    padding-top: 90px;
    #homepage {
      padding-top: 1rem;
    }
  }
}

#subscription {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  input[type=email] {
    font-size: 1rem;
    padding: 0.64rem 1rem;
    width: 16rem;
    margin-right: 0.5rem;
    border: 1px solid #D0D0D0;
  }
  .btn {
    background-color: darken(@accentColor, 15%);
    border-width: 0;
    font-size: 1rem;
    vertical-align: top;
  }
  .btn:hover {
    background-color: darken(@accentColor, 20%);
  }
  .subscription-label {
    font-size: 1.2rem;
    vertical-align: middle;
    margin-right: 0.5rem;
    color: @textPrimaryColor;
  }
}

.subscription-box {
  background-color: @accentColor;
  position: absolute;
  top: 1440px;
  width: 100%;

  &.fixed{
    position: fixed;
    bottom: 0px;
    top: initial;
  }
  &.fixed-down {
    top: inherit;
    bottom: 0;
    position: absolute;
    padding-bottom: @footerHeight;
  }
}

@eventWidth: 48%;
@eventHeight: 20%;
@eventPadding: 2%;
@eventBorder: 1px solid #E4E4E4;

.events-list-header {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1rem;
}

#events-list {

  margin-bottom: 120px;

  .events-list-title {
    font-size: 1.3rem;
    margin: 1rem 0 0.6rem;
    color: @accentColor;
    font-weight: 600;
    text-transform: uppercase;
  }
  .events-list-title:not(:first-child) {
    margin-top: 1.2rem;
  }

  .event-box {
    background-color: #fff;
    margin: 0.5rem 0;
    height: 16.5rem;
    border-bottom: @eventBorder;

    .event-image {
      img {
        width: 100%;
        height: 130px;
        object-fit: cover;
      }
    }

    .event-text {
      padding: 0.6rem 0.8rem;
      .event-text-date {
        font-weight: 300;
        font-style: italic;
        color: @secondaryTextColor;
        font-size: 0.9rem;
      }
      .event-text-name {
        font-weight: 600;
        margin-bottom: 0.3rem;
        font-size: 1.1rem;
        font-family: 'Open Sans Condensed', sans-serif;
      }
      .event-text-desc {
        font-size: 0.8rem;
        color: @secondaryTextColor;
      }
      a {color: inherit}
      a:hover {text-decoration: none}
    }
  }
}

footer {
  text-align: center;
  padding: 1.5rem;
  background-color: @footerBgColor;
  color: @footerColor;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: @footerHeight;

  .heart {
    color: #A24444;
    font-size: 1rem;
  }
}

.btn {
  transition: all 0.2s ease;
}

// Helper classes
.accent-color {
  color: @accentColor;
}
.bold {
  font-weight: bold;
}
.step {
  background-color: white;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  margin-right: 0.2rem;
  text-align: center;

  &-accent {
    background-color: @accentColor;
    color: @textPrimaryColor;
  }
}

@media only screen and (max-width: 640px) {
  #events-list {
    div.event-box {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  header{
    padding-bottom: 3rem;
    h1.logo {
      margin: 1rem;
      font-size: 1.7rem;
    }
    h2 { font-size: 2rem; }
    h3 { font-size: 1.7rem; }
  }

  section#wrapper {
    padding-top: 2rem;
  }

  .tags-header {
    text-align: center;
    margin-bottom: 0.6rem;
  }

  ul#tags {
    padding: 0 0.5rem;

    li label {font-size: 1.2rem}
  }

  #subscription {
    padding: 0.6rem 0;

    input[type=email] {
      margin-top: 0.2rem;
      margin-bottom: 0.4rem;
      margin-right: 0;
      width: 17rem;
    }

    .subscription-label {
      font-size: 1.2rem;
    }

    .btn {
      vertical-align: baseline;
    }
  }

  .subscription-box {
    top: 2194px;
  }

  #tracy-debug-bar {
    display: none;
  }

  footer {
    //display: none;
  }
}

nav.navbar {
  background-color: #2196F3;
  a.navbar-brand, .navbar-nav a {
    color: rgba(255, 255, 255, 0.8);
    -webkit-font-smoothing: antialiased;
    &:hover, &:focus {
      color: rgba(255, 255, 255, 1);
      background-color: inherit;
    }
  }
  a.navbar-brand {
    font-size: 1.7rem;
    padding-top: 13.5px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

#profile {
  .tags-box {
    width: 18rem;
    margin: 0 auto 2rem auto;
  }
}

@media (max-width: 992px) {
  div#tags {
    width: 80%;
    margin: 0 auto 2rem;
  }
}
