@import "palette";

@bodyBackground: #F9F9F9;
@headerBackground: @primaryColor;
@baseFont: "Open Sans", Helvetica, Arial, sans-serif;
@headingFont: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@headerButtonColor: @accentColor;
@headerButtonColorHover: darken(@headerButtonColor, 4%);

html {
  font-size: 15px;
}

body {
  font-family: @baseFont;
  background-color: @bodyBackground;
  color: @primaryTextColor;
}

@media only screen and (max-width: 320px) {
  body { font-size: 200%; }
}

h1,h2,h3,h4{
  font-family: @headingFont;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

header {
  background-color: @headerBackground;
  color: #FFF;
  padding-bottom: 4.6rem;
  margin-bottom: 3.3rem;

  h1.logo {
    font-weight: 400;
    font-size: 2rem;
  }

  h2 {
    font-size: 3rem;
    margin: 1.2rem;
  }
  h3 {
    font-size: 2rem;
  }

  p {
    font-weight: 300;
    font-size: 1.5em;
  }

  .btn, .btn:active, .btn:focus {
    background-color: @headerButtonColor;
    margin-top: 2rem;
    border-width: 0;
    font-size: 1rem;
  }
  .btn:hover {
    background-color: @headerButtonColorHover;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

ul#tags {
  list-style-type: none;
  margin: 0;
  padding: 2em 0;

  li {
    margin-right: 1.5em;
    margin-bottom: 0.3em;
    font-size: 1.1rem;
    input {
      margin-right: .3em;
    }
    label {
      font-weight: 400;
      margin: 0;
    }
    input:hover,
    label:hover {
      cursor: pointer;
    }
  }
}

#subscription {
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none; // TODO: block
  width: 100%;
  background-color: @bodyBackground;
  input[type=email] {
    padding: .8em 2em;
    width: 15em;
  }
  input[type=submit] {
    -webkit-appearance: button;
    padding: .8em 1.5em;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
  }
}

@eventWidth: 48%;
@eventHeight: 20%;
@eventPadding: 2%;
@eventBorder: 1px solid #E4E4E4;

#events-list {

  margin-bottom: 100px;

  div.events-list-title {
    font-size: 1.2rem;
    margin: 1rem 0 0.6rem;
    text-align: center;
    color: @secondaryTextColor;
  }

  div.event-box {
    background-color: #fff;
    margin: 0.5rem 0;
    height: 15.3rem;
    border-bottom: @eventBorder;

    .event-image {
      height: 130px;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }

    .event-text {
      padding: 0.6rem 0.8rem;
      .event-text-date {
        font-weight: 300;
        font-style: italic;
        color: @secondaryTextColor;
        font-size: 0.9rem;
      }
      .event-text-name {
        font-weight: 600;
        margin-bottom: 0.3rem;
        font-size: 1.1rem;
      }
      .event-text-desc {
        font-size: 0.8rem;
        color: @secondaryTextColor;
      }
      a {color: inherit}
      a:hover {text-decoration: none}
    }
  }
}

footer {
  text-align: center;
  padding: 1.5rem;
  background-color: @footerBgColor;
  color: @footerColor;
  font-size: 0.8rem;

  .heart {
    color: #A24444;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 640px) {
  #events-list {
    div.event-box {
      width: 100%;
    }
  }
}

// iPhone 5/5S
@media only screen and (max-width: 320px) {
  header{
    h2 { font-size: 2rem; }
    h3 { font-size: 1.7rem; }
  }
}
